/* .notFound{
    min-height: 100%;
    min-width: 900px;
      
    
    width: 60%;
    height: auto;
    margin-left: 240px;
      
    
    position: fixed;
    top: 0;
    left: 0;
} */

.notFound {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#buttonHome{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(54, 93, 151);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
    
}